body {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Inconsolata', 'Ubuntu Mono', 'Roboto Mono', monospace;
  font-size: 32px;
  line-height: 1;
  margin: 0;
  overflow: hidden;
}

#display {
  background-color: black;
  color: white;
  white-space: nowrap;
}
